@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;

  font-size: 18px;
}


.header-alert {
  background: #23856D;
  padding: 1rem 0;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-alert {
    display: none;
  }
}

.contact-us {
  display: flex;
  gap: 1.5rem;
}

.follow-us {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.socials img {
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
}