.CallToAction-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/background.png');
    background-repeat: no-repeat;
    height: 40rem;
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 2rem;
    text-align: center;
}

.CallToAction-heading h6, .CallToAction-heading h2, .CallToAction-heading h3, .CallToAction-heading button {
    font-weight: 700;
}

.CallToAction-heading h6 {
    color: #23A6F0;
    font-size: 1rem;
}

.CallToAction-heading h2 {
    color: #252B42;
    font-size: 2.5rem;
    padding: 0 15rem;
}

.CallToAction-heading > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.CallToAction-heading p {
    color: #737373;
    padding: 0 15rem;
    font-size: 1.2rem;
}

.CallToAction-heading h3 {
    color: #23856D;
    font-size: 1.5rem;
}

.CallToAction-btn {
    background: #23A6F0;
    padding: 1rem 2.2rem;
    border-radius: 0.3125rem;
    text-transform: uppercase;
    color: white;
}

.CallToAction-btn:hover {
    background: white;
    color: #23A6F0;
}

        /* MOBILE DESIGN FOR CALL-TO-ACTION */
@media screen and (max-width: 768px) {
    .CallToAction-heading {
        padding: 10rem 0rem;
        height: 45rem;
    }

    .CallToAction-heading h2, .CallToAction-heading p{
        padding: 0;
    }

    .CallToAction-heading h2 {
        padding: 0 2.5rem;
        letter-spacing: .1rem;
        text-align: center;
        line-height: 1.1;
    }

    .CallToAction-heading > div {
        flex-direction: column-reverse;
    }

    .CallToAction-heading p {
        font-size: 1.05rem;
        font-weight: 600;
        padding: 0 3rem;
        line-height: 1.6;
    }

    .CallToAction-heading h3 {
        font-size: 1.8rem;
    }
}